body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  margin: 0; padding: 0;
  background-color: rgb(241, 242, 246);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background:#22d686;
  background: linear-gradient(to right, #3850AB, #1291A8);
  background-size:100% 100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 200;
}

.spinner {
    height: 30px;
    width: 30px;
    margin: 0px auto;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

  @-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
  }

  @-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
  }

  @keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.social-container{
  position: relative;
}

.cell{
  width:25%;
  float: left;
  box-sizing: border-box;
  padding: 7px;
}

@media (max-width: 600px) {
  .cell {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .cell {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .cell {
    width: 33%;
  }
}

@media (min-width: 1600px) {
  .cell {
    width: 20%;
  }
}

.cell .media-item{
  border: 1px solid silver;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 16px rgba(0,0,0,.1);
  background: white;
  position: relative;
}

.cell .media-item .info{
  padding: 7px 10px;
  width: 100%;
  color: #3C4152;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  box-sizing: border-box;
  position: relative;
}

.cell .media-item .info img.profile{
  width: 50px;
  height: 50px;
  border-radius: 150px;
  float: left;
  margin-right: 15px;
  border: 1px solid rgb(203, 203, 203);
}

.cell .media-item .info .text{
  word-wrap: break-word;
}

.cell .media-item .info .text .user-name{
  margin-bottom: 10px;
  color: #4A6179;
}

.cell .media-item .info .text .message{
  color: rgb(37, 37, 37);
  font-weight: 100;
  min-height: 22px;
}

.cell .media-item img,.cell .media-item video{
  width: 100%;
  display: block;
}

.cell .media-item .instagram-icon{
  background: url('/img/instagram.png');
  position: absolute;
  background-size: 64%;
  background-repeat: no-repeat;
  right: 10px;
  top: 10px;
  padding: 15px;
  background-color: rgb(220, 223, 237);
  border-radius: 180px;
  background-position: center;
  border: 3px solid rgb(255, 255, 255);
}










.configruation-page{
  display: flex;
  justify-content : center;
  align-items : center;
  height: 100%;
  margin-top: 100px;

  .container{
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
    background: white;
    position: relative;
    width: 600px;
    height: 600px;
    padding: 20px;
  }

  .header{
    font-size: 18px;
    margin-bottom: 2px;
    color: rgb(63, 63, 63);
  }
} 

.tagged-input-wrapper {
  border-width: 1px;
  border-style: solid;
  border-color: #dadada;
  padding: 2px;
  border-radius: 5px;
  min-height: 26px;
}

.tagged-input-wrapper .tagged-input {
  border: none;
  outline: none;
  font-size: 16px;
}

.tagged-input-wrapper .tag .tag-text {
  padding-left: 5px;
}

.tagged-input-wrapper .tag {
  display: inline-block;
  background-color: #E9E9E9;
  padding: 2px 0px 2px 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}

.tagged-input-wrapper .tag.duplicate {
  background: #FFDB7B;
}

.tagged-input-wrapper .tag .remove {
  color: #000000;
  padding: 0px 4px;
  font-size: 75%;
  line-height: 100%;
  cursor: pointer;
}

.tagged-input-wrapper .tag .remove:hover {
  color: red;
}

.tagged-input-wrapper .tag .remove,
.tagged-input-wrapper .tag .tag-text {
  display: inline-block;
}



