html {
  height: 100%
}

body {
  font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0; padding: 0;
  background-color: rgb(241, 242, 246);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background: linear-gradient(270deg, #0d3b87, #1f8198, #b0169d);
  background-size: 600% 600%;
  -webkit-animation: Background 20s ease infinite;
  -moz-animation: Background 20s ease infinite;
  animation: Background 20s ease infinite;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 200;
}


@-webkit-keyframes Background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.no-margin{
  margin: 0px;
}

.landing-page{
  .well.container{
    //padding-top: 19px;
  }

  .twitter-signin{
    margin-top: 40px;
  }

  .social-signin img{
    -webkit-filter: invert(100%);
    height: 45px;
    position: absolute;
    left: 10px;
  }
  //.create-button{
  //  margin-bottom: 150px;
  //}
  //.form-group{
  //  margin-top: 100px;
  //}

}


.page{
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  -webkit-animation: slideUp .1s ease;
  -moz-animation: slideUp .1s ease;
  animation: slideUp .1s ease;


  .container{
    width: 500px;
    min-height: 450px;
    padding-top: 0px;
    position: relative;

    .page-title{

      span{
        vertical-align: top;
      }
    }
  }

  .back-button{
    padding-left: 0px;
    margin-left: -8px;
    margin-bottom: 0px;

    span{
      vertical-align: top;
      font-size: 17px;
    }
  }
}


.social-container{
  position: relative;
}

.cell{
  width:25%;
  float: left;
  box-sizing: border-box;
  padding: 7px;
}

@media (max-width: 600px) {
  .cell {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .cell {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .cell {
    width: 33%;
  }
}

@media (min-width: 1600px) {
  .cell {
    width: 20%;
  }
}

.cell{
  .media-item {
  padding: 5px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
  background: white;
  position: relative;


    .info{
      padding: 7px 10px;
      width: 100%;
      color: #3C4152;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: 2px;
      box-sizing: border-box;
      position: relative;


      img.profile{
        width: 50px;
        height: 50px;
        border-radius: 150px;
        float: left;
        margin-right: 15px;
        border: 1px solid rgb(203, 203, 203);
      }

      .text{
        word-wrap: break-word;


        .user-name{
          margin-bottom: 10px;
          color: #4A6179;
        }

        .message{
          color: rgb(37, 37, 37);
          font-weight: 100;
          min-height: 22px;
        }
      }
    }

    img, video{
      width: 100%;
      display: block;
    }


    .instagram-icon{
      background: url('/img/instagram.png');
      position: absolute;
      background-size: 64%;
      background-repeat: no-repeat;
      right: 10px;
      top: 10px;
      padding: 17px;
      background-color: #FFFFFF;
      border-radius: 180px;
      background-position: center;
    }
  }
}


.configuration-page{
  .container > div{
    margin-bottom: 40px;
  }

  .connection-indicator{
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .signin-container{
    text-align: center;
    margin-bottom: 20px;

    .social-icon{
      -webkit-filter: invert(100%);
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }

    .signin-button{
      font-size: 18px;
    }

  }



  .config-group{
    position: relative;
    margin-bottom: 30px;

    .social-icon{
      width: 28px;
      height: 28px;
      position: absolute;
      top: -5px;
      left: 6px;
    }

    .tagged-input-wrapper{
      padding: 2px 0px 5px 45px;
    }
  }

  
}

.board-page{
  .board-id{
    margin-bottom: 30px;
  }
}


.tagged-input-wrapper {
  padding: 2px 0px 5px 2px;
  min-height: 26px;
  background-image: linear-gradient(#009688,#009688),linear-gradient(#d2d2d2,#d2d2d2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
}

.tagged-input-wrapper .tagged-input {
  border: none;
  outline: none;
  font-size: 16px;
}

.tagged-input-wrapper .tag .tag-text {
  padding-left: 5px;
}

.tagged-input-wrapper .tag {
  display: inline-block;
  background-color: #E9E9E9;
  padding: 2px 0px 2px 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.tagged-input-wrapper .tag.duplicate {
  background: #FFDB7B;
}

.tagged-input-wrapper .tag .remove {
  color: #000000;
  padding: 0px 4px;
  font-size: 75%;
  line-height: 100%;
  cursor: pointer;
}

.tagged-input-wrapper .tag .remove:hover {
  color: #03a9f4;
}

.tagged-input-wrapper .tag .remove,
.tagged-input-wrapper .tag .tag-text {
  display: inline-block;
}



