body.blue-blackgound{
  background: rgba(116, 116, 116, 0.53);
}

.specialist-page{
  color: white;
}

.specialist-profile .main-profile{
  border: 3px solid white;
}

.specialist-profile .specialist-banner{
  margin-top: 120px;
}

.specialist-profile .specialist-name{
  margin-top: 15px;
  font-size: 30px;
}

.specialist-profile .specialist-description{
  font-size: 25px;
  font-weight: 300;
  line-height: 70%;
}

.specialist-profile .specialist-meta{
  padding-top: 55px;
  clear: both;
}

.specialist-profile .specialist-meta .meta-description{
  font-size: 16px;
  line-height: 0%;
}

.specialist-profile .specialist-meta .meta-value{
  font-size: 45px;
  font-weight: 100;
  line-height: 1;
 
}

.specialist-profile .specialist-meta .border{
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}